@import "./../../../comunes/styles/clases.css";
@import "./../../../comunes/styles/confGlobal.css";

* {
    color: rgb(80, 80, 80);
}

:host {
    --contenidoPadding: 14px;
    --contenidoAlto: 500px;
    --contenidoAncho: 800px;
    --textoActivado: rgb(60, 60, 60);
    --textoDesactivado: rgb(200, 200, 200);
    --colorEnfasis: rgb(0, 189, 177);

    position: relative;
}

.cajaContenido {
    width: var(--contenidoAncho);
    height: var(--contenidoAlto);
    background-color: white;
    overflow: hidden;

    .cajaComponente {
        width: 140%;
        height: 140%;
        border: 1px solid red;
    }

    form {
        top: 0;
        padding: 20px;

        .cajaTipos {
            width: 100%;
            height: 70px;

            .tipo {
                font-size: 16px;
            }

            .tipo:has(input:checked) {
                font-size: 30px;
                color: var(--textoActivado);
            }

            .cerrar {
                right: 0;
                width: 30px;
                height: 30px;
                background-color: rgb(206, 206, 206);
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color: rgb(160, 160, 160);
                }

                .icono {
                    color: var(--textoActivado);
                }
            }
        }

        .cajaTipos:has(.tipo:nth-of-type(1) .inputOculto:checked)+.cajaInputs .campo:last-child {
            height: 0;
            opacity: 0;
        }

        .cajaInputs {
            width: 100%;
            height: calc(70%);
            overflow: hidden;

            .campo {
                width: 100%;
                height: calc(100% / 3.4);
                overflow: hidden;

                &:last-of-type {
                    opacity: 1;
                    transition: 0.3s ease-in-out;
                }

                .fondoInput {
                    width: 65%;
                    height: 30px;
                    background-color: rgb(60, 60, 60);
                    border-radius: 4px;

                }

                .cajaInput {
                    width: 80%;
                    height: 40px;
                    border-left: 1px solid rgb(80, 80, 80);
                    border-bottom: 1px solid rgb(80, 80, 80);
                    border-radius: 0 0 0 8px;

                    .iconoForm {
                        height: auto;
                        width: 26px;
                        cursor: pointer;
                        margin: 10px;

                        &:nth-of-type(2) {
                            opacity: 0;
                            pointer-events: none;
                        }
                    }

                    input[type="password"]::-ms-reveal {
                        display: none;
                    }

                    .inputForm {
                        all: unset;
                        flex: 1;
                        height: 100%;
                        font-size: 14px;
                        font-family: "Walter Turncoat";
                        letter-spacing: 4px;
                        text-indent: 12px;
                        color: white;

                        &::placeholder {
                            color:rgb(180, 180, 180)
                        }
                    }

                    .error {
                        color: rgb(180, 50, 50);
                    }
                }
            }
        }

        .cajaInferior {
            display: flex;
            width: 100%;
            height: 40px;

            .cajaCondiciones {
                flex: 1;

                &:has(.inputOculto:checked) .iconoCheck {
                    display: flex;
                }

                .check {
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                    margin-right: 10px;
                }


                .iconoCheck {
                    display: none;
                    font-size: 19px;
                }

                .condicionesLink {
                    color: var(--colorEnfasis);
                    cursor: pointer;
                }
            }

            .boton2 {
                margin-left: 30px;
            }
        }
    }
}