@import url("./../../comunes/css/clases.css");
@import url("./../../comunes/css/fuentes.css");

:root {
    --blancoDesactivado: rgba(230, 230, 230, 0.6);
    --blancoActivado: rgb(230, 230, 230);
    --colorBotonAct: rgba(255, 255, 255, 0.8);
    --colorBotonDes: rgba(255, 255, 255, 0.2);
    --colorTextoBotonAct: grey;
    --colorTextoBotonDes: rgba(255, 255, 255, 0.6);
    --elementoDesactivado: rgba(255, 255, 255, 0.2);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: "Anta";
    color: var(--blancoDesactivado);
    font-size: 14px;
    list-style: none;
}

body {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100vw;
    height: 100vh;
    background-color: rgb(40, 40, 40);

    .fondoBlanco {
        background-color: white;
        grid-column: 1 / -1;
        grid-row: 9 / 13;
    }

    .landingBox {
        grid-column: 5 / 17;
        grid-row: 2 / 12;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(20, 1fr);

        .titulos {
            grid-column: 1 / 3;
            grid-row: 1 / 14;
        }

        .principal {
            width: 80%;
            height: calc(100vw / 10);
            font-size: clamp(1rem, -0.087rem + 1.7391vw, 2rem);
            color: var(--blancoActivado);

            .secundario {
                font-size: clamp(0.625rem, 0.0815rem + 0.8696vw, 1.125rem);
                color: var(--blancoDesactivado);
            }
        }

        .botonInicioCaja {
            width: 80%;
            height: 40px;

            .botonInicio {
                width: 120px;
                height: 40px;
                border-radius: 4px;
                background-color: var(--colorBotonDes);
                font-size: 14px;
                letter-spacing: 2px;
                color: var(--colorTextoBotonDes);
                cursor: pointer;
                transition: .1s;

                &:hover {
                    background-color: var(--colorBotonAct);
                    color: var(--colorTextoBotonAct);
                    color: grey;
                }
            }
        }

        .hardware {
            position: relative;
            grid-column: 3 / 5;
            grid-row: 1 / 15;

            img,
            .capa1,
            .capa2,
            .capa3 {
                position: absolute;
            }

            img {
                bottom: -2.4vw;
                width: 100%;
            }

            .capa1 {
                left: .46vw;
                bottom: 6.4vw;
                width: 16.9vw;
                height: 9vw;
            }

            .capa2 {
                left: 10.9vw;
                bottom: .4vw;
                width: 13.3vw;
                height: 8.9vw;
            }

            .capa3 {
                left: 24.2vw;
                bottom: -1.5vw;
                width: 5.6vw;
                height: 8vw;
            }
        }

        .info {
            grid-column: 1 / 6;
            grid-row: 15 / 21;
        }
    }
}

/*     .formBox {
        position: relative;
        display: flex;
        border: none;
        border-radius: calc(var(--formPadding) / 1.6);
        overflow: hidden;

        .formImg {
            background-image: url("https://i.redd.it/a4e8d3lz5ptc1.jpeg");
            background-position: center;
            background-size: cover;
        }

        .form {
            position: absolute;
            right: 0;
            width: 400px;
            height: 100%;
            background-color: rgb(0, 0, 0, 0.4);
            border-left: 1px solid rgba(255, 255, 255, 0.514);
            padding: 30px;
            transition: right 1s ease-in-out;

            .cerrar {
                top: 30;
                right: 30px;
                width: 30px;
                height: 30px;

                .iconoForm {
                    color: var(--elementoDesactivado);
                }
            }

            .opciones {
                width: 80%;
                height: 60px;

                .opcForm {
                    position: relative;
                    width: 100%;
                    height: 30px;
                    text-align: center;
                }

                .opcForm:has(.inputOculto:checked) {
                    font-size: 24px;
                    color: var(--blancoActivado);
                }
            }

            .campos {
                width: 100%;
                height: 245px;

                .camposBox {
                    width: 86%;
                    height: 40px;
                    background-color: var(--elementoDesactivado);
                    backdrop-filter: blur(4px);
                    border-radius: 4px;
                    padding: 8px;

                    &:not(:first-of-type) {
                        margin-top: 60px;
                    }

                    .camposForm {
                        all: unset;
                        width: calc(100% - 40px);
                        height: 100%;
                        color: var(--blancoActivado);
                        padding-left: 18px;

                        &::placeholder {
                            font-size: 16px;
                        }
                    }
                }

                .repetirPass {
                    display: none;
                }

                .noRecuerda {
                    display: none;
                    margin-top: 10px;
                    font-size: 12px;
                    cursor: pointer;

                    .enfasis {
                        position: relative;
                        top: 8px;
                        margin-left: 8px;
                    }
                }
            }

            .condicionesBox {
                position: relative;
                top: 20px;
                display: flex;
                cursor: pointer;

                .checkFalso {
                    position: relative;
                    top: -2px;
                    width: 18px;
                    height: 18px;
                    border: 1px solid grey;
                    border-radius: 4px;
                    margin-right: 12px;
                }

                .condiciones {
                    font-size: 12px;
                }

                &:has(.inputOculto:checked) .checkFalso .checkIcon::after {
                    position: relative;
                    top: -7px;
                    left: -1px;
                    font-size: 18px;
                    content: "check";
                    vertical-align: center;
                }
            }

            .botonLogin {
                border: none;
                width: 120px;
                height: 40px;
                background-color: var(--blancoDesactivado);
                border-radius: 4px;
                color: var(--blancoActivado);
                font-size: 18px;
                cursor: pointer;

                &:disabled {
                    background-color: var(--elementoDesactivado);
                    color: var(--blancoDesactivado);
                    cursor: auto;
                }
            }
        }

        .form:has(.opciones .opcForm:last-of-type .inputOculto:checked) .campos .repetirPass {
            display: block;
        }

        .form:has(.opciones .opcForm:last-of-type .inputOculto:not(:checked)) .campos .noRecuerda {
            display: block;
        }
    } */